html{
    scroll-behavior: smooth;
}
body {
    font-family:system-ui}
/*landing page*/
.landing{
    position: relative;

}
.col-md-3 {
  padding: 10px;
}
.navbar-toggler {
  padding: .25rem .75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  /* border: 1px solid transparent; */
  border-radius: .25rem;
  transition: box-shadow .15s ease-in-out;
  width: fit-content;
  /* display: inline; */
  text-align: center;
}
.overlay{
    position: absolute;
    min-height: 100%;
    width: 100%;
    left:0;
    top:0;
    z-index: 1;
    background-color: rgb(0,0,0,0.6);
}
.carousel-caption{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 3;
    color: aliceblue;
    display: block;
}
.carousel-inner img{
   position: relative;
   width: 100%;
}.carousel-indicators{
    z-index: 2;
}
.z{
    z-index: 3;
}
 .carousel-item h1,p{
     font-size: 20px;
 }
 @media (max-width: 575px) {
     .carousel-item h1,p {
       font-size: 12px;
     }
   }
.navbar-expand-lg .navbar-collapse {
    justify-content: center;
}
.navbar-brand img{
    width: 100px;
    /* height: 100%; */
    /* margin: 0px;
    padding: 0px; */
}
.navbar{
    background-color: #333!important;
}
.navbar-toggler {
    background-color: transparent;
    border: 2px solid black !important;
}
.navbar-light .navbar-nav .nav-link {
    /* color: rgba(0,0,0,.55); */
    color: white;
}
.active {
    color: #C29944 !important;
    /* border: 1px solid black !important; */
   
}
.navbar-nav{
  padding: 0px;
}
.nav-link:hover{
    color: #ddd !important;
}
.active:hover {
    color: #C29944 !important;
    /* border: 1px solid black !important; */
}
.navbar{
    padding: 0px !important;
}
.navbar-brand{
    padding: 0px !important;
}
.main-title:hover{
    color: white;
    border: 2px solid transparent ;
    transition-delay: 0.4s;
}
.form-floating>label {
  position: absolute;
  top: 0;
  right: -16%;
  height: 100%;
  padding: 1rem .75rem;
  pointer-events: none;
  border: 1px solid transparent;
  transform-origin: 0 0;
  transition: opacity .1s ease-in-out,transform .1s ease-in-out;
}
.main-title{
  margin: 0px auto 100px auto;
  border: 2px solid black;
  width: fit-content;
  position: relative;
  padding: 10px 40px;
  z-index: 1;
  transition: 1s;
  cursor: pointer;
    border: 2px solid black;
    width: fit-content;
    position: relative;
    padding: 10px 40px;
    z-index: 1;
    transition: 1s;
    cursor: pointer;
}
.main-title::before{
        width: 12px;
    height: 12px;
    position: absolute;
    background-color:#C29944 ;
    border-radius: 50%;
    /* z-index: 2; */
    content: "";
    top: 50%;
    left: -30px;
    transform: translateY(-50%);
    transition: 1s;
    
}
.main-title::after{
    width: 12px;
    height: 12px;
    position: absolute;
    background-color:#C29944 ;
    border-radius: 50%;
    /* z-index: 2; */
    content: "";
    top: 50%;
    right: -30px;
    transform: translateY(-50%);
    transition: 1s;
   
}
.main-title:hover::after{
    z-index: -1;
   animation: right 0.5s linear forwards;

}
.main-title:hover::before{
    z-index: -1;
   animation: left 0.5s linear forwards;
}
@keyframes left{
    50%{
        left: 0;
        width: 12px;
        height: 12px;
    }
    100%{
        left: 0;
         border-radius: 0;
        width: 100%;
        height: 100%;
    }
}
@keyframes right{
     50%{
        right: 0;
        width: 12px;
        height: 12px;
        
    }
    100%{
        right: 0;
         border-radius: 0;
        width: 100%;
        height: 100%;
       
    }
}
/* Start About Us */
.about-us {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
  }
  @media (max-width: 767px) {
    .about-us {
      display: block;
    }
  }
  .about-us .info-box {
    flex: 1;
    padding: 30px;
  }
  @media (max-width: 767px) {
    .about-us .info-box {
      padding: 0;
    }
  }
  .about-us .info-box h2 {
    font-weight: bold;
    font-size: 30px;
    color:black;
    margin: 0 0 10px;
  }
  .about-us .info-box p {
    line-height: 1.8;
    color: #767676;
    margin: 0;
  }
  .about-us .image-box {
    flex: 1;
    text-align: center;
  }
  .about-us .image-box img {
    width: 250px;
  }
  @media (max-width: 767px) {
    .about-us .image-box {
           padding: 0;
    }
      .about-us {
          text-align: center;
          display: block;
      }
      
  }
  /* End About Us */

  /***galary***/
  .galary {
    padding-bottom: 100px;
padding-top: 100px;
position: relative;
background-color: #ececec;
}
.galary .container{
  display: grid;
grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
gap:40px
}
.galary .box{padding: 15px;
background-color: white;
box-shadow: 0 12px 20px 0 rgb(0 0 0 /13%),0 2px 4px 0 rgb(0 0 0 /12%);
}
.galary .box .image{position: relative;overflow: hidden}
.galary .box .image::before{
content: "";
width: 0;
height: 0;
z-index: 2;
opacity: 0;
background-color: rgb(255 255 255/20%);
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%)
}
.galary .box .image:hover::before{
animation: flash 0.7s;
}
@keyframes flash{
0%,40%{
    opacity: 1;
}
100%{
    opacity: 0;
    height: 200%;
    width: 200%;
}
}

.galary .box img{max-width: 100%;transition: 1s}
.galary .box .image:hover img{
transform: rotate(5deg) scale(1.1);
}
 /*Start Footer*/
 .footer{
    padding: 70px 0;
        background-color:#333;
    color: aliceblue;

}
.footer h1,.footer h2{
      color: aliceblue;
}
.footer ul{
    list-style: none;padding: 0
}
.footer ul li a{
     color: aliceblue!important;
    text-decoration: none
}
.footer ul li {margin-bottom: 15px}
.footer i{font-size: 25px;color:white;margin-right: 15px;transition: all .5s ease;
    cursor: pointer}
.footer ul li i{
    color: #C29944 ;
    font-size: 18px;
    margin: 0px 7px;
    }
.footer i:hover{color:cyan}
.footer p{font-size: 16px;}
/*form*/
.row {
    --bs-gutter-x: 0rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5);
}
/*conts*/
.contact .images{
    display: flex;
    justify-content: center;
}
.contact img{
    width: 50%;
}
form{
    padding: 15px;
}
.butt{
    background-color: #333;
    padding: 10px 20px;
    border: none;
    margin: 20px auto;
    display: block;
    color: white;
}
/* Start Testimonials */
.testimonials {
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
   
  }
  .testimonials:before {
    content: '';
    width: 50%;
    position: absolute;
    left: 0;
    top: 0;
    background-color:#C29944;
    height: 100%;
  }
  .testimonials:after {
    content: '';
    width: 50%;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #333;
    height: 100%;
  }
  .testimonials h2 {
    font-weight: bold;
    font-size: 30px;
    color: #FFF;
    margin: 0 0 30px;
    
    position: relative;
    z-index: 2;
  }
  @media (max-width: 767px) {
    .testimonials h2 {
      text-align: center;
    }
  }
  .testimonials .ts-box {
    position: relative;
    z-index: 2;
    width: calc(98% / 3);
    float: left;
    background-color: #FFF;
    padding: 20px;
  }
  @media (max-width: 767px) {
    .testimonials .ts-box {
      width: 100%;
      float: none;
      margin-bottom: 10px;
    }
  }
  .testimonials .ts-box:not(:last-of-type) {
    margin-right: 1%;
  }
  .testimonials .ts-box > p {
    margin: 0 0 20px;
    line-height: 1.5;
    font-size: 15px;
    color: #707070;
    font-style: italic;  
  }
  .testimonials .ts-box .person-info {
    overflow: hidden;
  }
  @media (max-width: 991px) {
    .testimonials .ts-box .person-info {
      text-align: center;
      overflow: visible;
    }
  }
  .testimonials .ts-box .person-info img {
    float: left;
    border-radius: 50%;
    margin-right: 20px;
    width: 100%;
  }
  @media (max-width: 991px) {
    .testimonials .ts-box .person-info img {
      float: none;
      margin-right: 0;
    }
  }
  .testimonials .ts-box .person-info h4 {
    margin: 14px 0 10px;
  }
  .testimonials .ts-box .person-info p {
    color: #707070;
    margin: 0;
  }
  /* End Testimonials */